body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
}

#inputText, #outputText {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

#outputText {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
}

.font-option, #boldOption, #italicOption {
    font-family: 'Arial', sans-serif;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
